<% content_for :nav_home do %>
  class="active"
<% end %>
<ul>
  <li><%= link_to "Инструменты проектировщика", designer_tools_path %></li>  
  <li><%= link_to "Инструменты разработчика", developer_tools_path %></li>  
  <li><%= link_to "Инструменты рецензора", reviewer_tools_path %></li>  
</ul>