#navigation > div{
    background-color: rgba(181, 186, 198, 0.2);
}

#navigation > div .hsplitbar {
    height: 5px;
    background-color: #0088CC;
    opacity: 0.2;
}
#navifation > div .hsplitbar.active, #navigation > div .hsplitbar:hover {
    background-color: #e88;
}
/*---------- Меню ----------*/
.editreview{
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.menu-btn{
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/*----------Общая часть----------*/
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled{
    opacity: 1.00;
}
.mini-btn{
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url("ui-icons_888888_256x240.png");
}

/* ----- новые стили ----- */

#workspace{
    background: url("/assets/grid.png") repeat scroll 0 0 transparent;
    height: 1800px;
    margin-top: 40px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

/*---------------------------------*/
/*---------меню в навигации--------*/
#groups{
    margin-top: 10px;
}
#groups .nav{
    margin-bottom: 5px;
}
#groups .tab-content{
    padding: 4px;
}
#groups div.element{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #BFBCBC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    margin: 7px;
    cursor: pointer;

    position:relative;
    display: table;
}

#groups div.element span{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#groups div.element img{
    vertical-align: middle;
}

div.btn-controls span:hover{
    background-image: url("ui-icons_454545_256x240.png");
}

div.btn-controls span.btn-delete{
    background-position: -176px -96px;
}
div.btn-controls span.btn-copy{
    background-position: -32px -128px;
}
div.btn-controls span.btn-edit{
    background-position: -64px -112px;
}
div.btn-controls span.btn-select{
    background-position: -64px -16px;
}

/* ----------------------------------------------- */
/* --------- общая часть для блоков ----------- */
div.block .content{
    width: 100%;
    height: 100%;
}

div.block .content > *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

div.btn-controls{
    position: absolute;
    display: none;
    top: -22px;
    width: 100%;
}

div.btn-controls span{
    width: 16px;
    height: 16px;
    display: inline-block;
    float: right;
    margin: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    background-image: url("ui-icons_888888_256x240.png");
}
div.block.ui-selected, div.group.ui-selected{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

/* ----------------------------------------------- */
/* --------- для компонентов в системе ----------- */

.mock-block{
    width: 200px;
    height: 100px;
}
.mock-block .content > *{
    background-color: rgba(226, 230, 238, 0.7);
    border-radius: 5px;
    padding: 0;
}
/* ---------- */
.mock-input{
    width: 200px;
    height: 25px;
}
.mock-input .content > *{
}
/* ---------- */
.mock-img{
    width: 100px;
    height: 100px;
}
.mock-img .content {
    opacity: 0.5;

}
.mock-img .content > div{
    background-color: #1A1818;
    display: table;

}
.mock-img .content > div > div{
    display: table-cell;
    vertical-align: middle;
}
.mock-img .content > div > div > div{
    background-image: url("picture.png");
    background-color: white;
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}

.mock-select{
    width: 100px;
    height: 30px;
}
.mock-label{
    width: 50px;
    height: 20px;
}
.ui-icon{
    background-image: url("ui-icons_222222_256x240.png") !important;
}
/*---------------------------------------------*/
#master-panel{
    width: 100px;
    height: 150px;
    border: 1px solid #CCC7C7;
    position: relative;
    background-color: rgba(209, 213, 222, 0.7);
    border-radius: 5px;
    padding: 0;

}
#master-panel ul{
    padding: 0;
    margin: 0;
}
#master-panel li{
    list-style: none;
    padding: 0;
    margin: 0 5px;
    font: 10px/18px Verdana,sans-serif;
    cursor: pointer;
}

#master-panel li:hover{
    text-decoration: underline;
}

#master-panel > div{
    width: 100%;
}
#master-panel > div > span{
    float: right;
    background-position: -80px -128px;
}
.group{
    position: absolute;
    border: 1px dotted gray;
}