/*---------- Навигация ----------*/
.designer #navigation > div{
    background-color: rgba(181, 186, 198, 0.2);
}

.designer #navigation > div .hsplitbar {
    height: 5px;
    background-color: #0088CC;
    opacity: 0.2;
}
.designer #navigation > div .hsplitbar.active, .designer #navigation > div .hsplitbar:hover {
    background-color: #e88;
}
/*---------- Верхнее Меню ----------*/
.editreview{
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.menu-btn{
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/*----------Общая часть----------*/
.designer body{
    padding: 0;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled{
    opacity: 1.00;
}
.mini-btn{
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url("ui-icons_888888_256x240.png");
}

.designer #workspace{
    background: url("/assets/grid.png") repeat scroll 0 0 transparent;
    height: 1800px;
    margin-top: 40px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

/*---------табы в навигации--------*/
#groups{
    margin-top: 10px;
}
#groups .nav{
    margin-bottom: 5px;
}
#groups .tab-content{
    padding: 4px;
}
#groups div.element{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #BFBCBC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    margin: 7px;
    cursor: pointer;

    position:relative;
    display: table;
}

#groups div.element span{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#groups div.element img{
    vertical-align: middle;
}

/*------------ плавающая панель с параметрами -----------*/
#props_panel{
    /*width: 200px;*/
    /*height: 300px;*/
    position: absolute;
    right: 10px;
    top: 50px;
    opacity: 0.7;
    color: #393939;
}

#props_panel .no-props{
    color: gray;
    padding: 10px 0 10px 10px;
    font-size: 11px;
}
#props_panel .props-initial input{
    width: 40px;
    margin: 0 5px;
}

#props_panel .props-params .td-first {
    max-width: 70px;
    text-transform: capitalize;
}

#props_panel .props-params input, #props_panel .props-params textarea, #props_panel .props-params select{
    min-width: 150px;
}

/* --------- общая часть для блоков и групп ----------- */
div.block .content{
    width: 100%;
    height: 100%;
}

div.block .content > *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

div.block.ui-selected, div.group.ui-selected{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.group{
    position: absolute;
    border: 1px dotted gray;
}