/*----------Общая часть----------*/
.mini-btn{
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url("ui-icons_888888_256x240.png");
}
/* ----- новые стили ----- */
#navigation{
    height: 100%;
    width: 260px;
    position: fixed;
}

#navigation > div{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
    background-color: rgba(181, 186, 198, 0.2);
}

#workspace{
    background: url("/assets/grid.png") repeat scroll 0 0 transparent;
    height: 1800px;
    margin-top: 40px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.nav .nav-info{
    color: gray;
    font-size: 11px;
    padding-bottom: 5px;
}
/*---------------------------------*/
/*---------меню в навигации--------*/
#groups > div, .groups-content p:hover, .groups-content p span{
    border: 1px solid #BFBCBC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#groups > div{
    margin-bottom: 2px;
}
a.groups-header, .groups-content p span{
    display: inline-block;
    cursor: pointer;
}
a.groups-header{
    padding: 8px 15px;
}
div.groups-content{
    border-top: 1px solid #BFBCBC;
    padding: 5px;
}

.groups-content p span{
    width: 16px;
    height: 16px;
    border-color: transparent;
}

.groups-content p label{
    display: inline;
    cursor:pointer;
}

.groups-content p{
    border: 1px solid transparent;
    padding: 4px;
    margin: 0;
    cursor: pointer;
}

div.btn-controls span:hover{
    background-image: url("ui-icons_454545_256x240.png");
}

div.btn-controls span.btn-delete{
    background-position: -176px -96px;
}
div.btn-controls span.btn-copy{
    background-position: -32px -128px;
}
div.btn-controls span.btn-edit{
    background-position: -64px -112px;
}
div.btn-controls span.btn-select{
    background-position: -64px -16px;
}

/* ----------------------------------------------- */
/* --------- общая часть для блоков ----------- */
div.block .content{
    width: 100%;
    height: 100%;
}

div.block .content > *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

div.btn-controls{
    position: absolute;
    display: none;
    top: -22px;
    width: 100%;
}

div.btn-controls span{
    width: 16px;
    height: 16px;
    display: inline-block;
    float: right;
    margin: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    background-image: url("ui-icons_888888_256x240.png");
}
div.block.ui-selected{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

/* ----------------------------------------------- */
/* --------- для компонентов в системе ----------- */

.mock-block{
    width: 200px;
    height: 100px;
}
.mock-block .content > *{
    background-color: rgba(226, 230, 238, 0.7);
    border-radius: 5px;
    padding: 0;
}
.mock-input{
    width: 200px;
    height: 25px;
}
.mock-input .content > *{
}

.ui-icon{
    background-image: url("ui-icons_222222_256x240.png") !important;
}
/*---------------------------------------------*/
#master-panel{
    width: 100px;
    height: 150px;
    border: 1px solid #CCC7C7;
    position: relative;
    background-color: rgba(209, 213, 222, 0.7);
    border-radius: 5px;
    padding: 0;

}
#master-panel ul{
    padding: 0;
    margin: 0;
}
#master-panel li{
    list-style: none;
    padding: 0;
    margin: 0 5px;
    font: 10px/18px Verdana,sans-serif;
    cursor: pointer;
}

#master-panel li:hover{
    text-decoration: underline;
}

#master-panel > div{
    width: 100%;
}
#master-panel > div > span{
    float: right;
    background-position: -80px -128px;
}