/*------------- Списки параметров для элемента -------------*/
.table-list{
    margin-left: 0;
    list-style: none;
    padding-right: 10px;
}
.table-list i{
    opacity: 0.5;
    cursor: pointer;
}
.table-list i:hover{
    opacity: 1;
}
.table-list i.icon-plus{
    float: right;
}
.table-list > li > div{
    padding-right: 10px;
}

/*-------------- Общее -----------------------*/
html.developer{
    height: 100%;
}
.developer body{
    background-color: #EFEFEF;
    padding: 40px 0 0 0;
    height: 89%;
}

.developer #navigation{
    background-color: white;
}

.developer #workspace{
    margin-left: 260px;
    padding-top: 5px;
    height: 100%;
}
.developer #workspace.disabled{
    opacity: 0.4;
}

.developer .vsplitbar{
    height: 5px;
    width: 5px;
    background-color: transparent;
}

.developer #navigation > div .hsplitbar {
    height: 5px;
    background-color: #EFEFEF;

}
.developer #navigation > div .hsplitbar.active, .developer #navigation > div .hsplitbar:hover {
    background-color: #999999;
}

/*--------------- params --------------*/
#params{
    padding: 10px 0 0 10px;
}

.developer #parameters table span{
    float: right;
    position: relative;
}
.developer #parameters .td-first{
    width: 110px;
}

/*--------------- Код --------------*/

.leftside, .rightside{
    float: left;
    height: 100%;
}
.leftside > div{
    margin: 0 2px 5px 5px;
}
.rightside > div{
    margin: 0 5px 5px 2px;
}
.leftside > div, .rightside > div{

}
.developer #workspace textarea {
    resize:none;
}

#result, #htmlcode > .CodeMirror, #jscode > .CodeMirror, #csscode > .CodeMirror{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    padding: 4px;
    height: 300px;
    overflow: auto;
}
.codetype{
    width: 90px;
    height: 20px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    background-color: #f2f2f2;
    color: #555555;
    text-align: center;
    position: absolute;
    right: 5px;
    font-family: monospace;
}
#result iframe{
    width: 100%;
    height: 98%;
    border: none;
}
/* ------------------ ajax loader in result ------------------ */
.developer .ajax-loader-container{
    position: absolute;
    display: table;
    width: 98%;
    height: 50%;
}
.developer .ajax-loader-container > div{
    display: table-cell;
    vertical-align: middle;

}
.developer .ajax-loader{
    margin: 0 auto;
}
.developer .alert {
    position: absolute;
    width: 85%;
}
.developer_result #workspace{
    width: 100%;
    height: 100%;
}

/* ------------ styles for parameter dialog --------- */

.extra-parameters {
    background-color: #F5F5F5;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.extra-parameters > div{
    padding: 10px;
}
.extra-parameters input.input-condensed{
    padding: 1px;
    margin-bottom: 5px;
    width: 200px;
}

.extra-parameters div.child input.input-condensed {
    width: 100px;
}

.extra-parameters div.child {
    padding-left: 20px;

}
.extra-parameters .sub-parameter div > label{
    display: block;
    float: left;
    width: 100px;
}

.extra-parameters div.child label{
    width: 80px;
}