body {
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 20px;
}
.sidebar-nav {
    padding: 9px 0;
}

[class^="icon-"], [class*=" icon-"]{
    background-image: url("glyphicons-halflings.png");
}
.icon-white{
    background-image: url("glyphicons-halflings-white.png");
}

.ui-icon{
    background-image: url("ui-icons_222222_256x240.png") !important;
}
input.input-condensed{
    width: 50px;
    padding: 0;
    margin-bottom: 0;
}
.ajax-loader{
    background-image: url("ajax-loader.gif");
    width: 32px;
    height: 32px;
}

/*---------- navigation ------------*/
#navigation{
    height: 100%;
    width: 260px;
    position: fixed;
}

#navigation .nav-info{
    color: gray;
    font-size: 11px;
    padding-bottom: 5px;
}
#navigation .well{
    padding: 5px;
}
#navigation .well .nav.nav-list li{
    cursor: pointer;
}
#navigation .well .nav.nav-list li span{
    display: inline-block;
    float: right;
}
#navigation .well [class^="icon-"], #navigation .well [class*="icon-"]{
    cursor: pointer;
    float: right;
    opacity: 0.5;
}
#navigation .well [class^="icon-"]:hover, [class*="icon-"]:hover{
    opacity: 1;
}

#navigation > div{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
}

#navigation .nav-header{
    color: #0088CC;
}

/* ------------- projects page ------------- */
.projects{
    list-style: none;
}
.projects .empty{
    font-size: 11px;
    color: gray;
}
.projects .description{
    color: gray;
    font-size: 11px;
    padding-left: 40px;
}
/* ----------------- dialog ---------------- */
.ui-dialog .ui-widget-header{
    background-color: #0088CC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.ui-dialog .ui-widget-header .ui-state-hover{
    background: transparent;
    border: 1px solid transparent;
}
.ui-dialog .ui-dialog-titlebar-close span {
    background-color: transparent;
    opacity: 0.5;
}
.ui-dialog .ui-dialog-titlebar-close span:hover{
    opacity: 1;
}
.ui-dialog .ui-dialog-label{
    /*min-width: 50px;*/
    text-align: right;
}
.ui-widget-overlay{
    opacity: 0.8;
    background-color: #000000;
    -moz-transition: opacity 0.15s linear 0s;
}
