.projects {
    .button_to {
        margin: 0 0 5px 0;
        input {
            border: medium none transparent;
            display: block;
            float: left;
            height: 16px;
            margin: 2px;
            width: 16px;
        }
    }
}